
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    --purple:#828dff;
    --teal: #24feee;

}
body{
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    align-items:center ;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    max-width: 500px;
    margin: 120px auto 0 auto;
   
}
.status_container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;

}
.details{
    width: 100%;
}
#progressbar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
}
#progress{
    width: 50%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;

}
#numbers{
    width: 100px;
    height: 100px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
}
form{
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
    padding: 16px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
}
button{
    padding: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}
/*Task list styles*/
#task-list{
    list-style: none;
    margin-top: 30px;
    padding: 0;
}
#task-list li{
    background-color: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.taskItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task p.completed{
    text-decoration: line-through;
}
.icons{
    display: flex;
    gap: 10px;
}
.icons button{
    background: transparent;
    border: none;
    color: var(--text);
    font-size: 18px;
    cursor: pointer;
}
/* media querry*/